@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-size: 16px;
  font-family: "Merriweather", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: auto;
}

nav {
  padding: 30px 20px 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .logo .img-logo {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

nav .logo .brand-name {
  font-size: 1.1rem;
  font-weight: 900;
  color: #D97904;
}

nav .menu-ham {
  font-size: 1.5em;
  cursor: pointer;
  color: #467302;
}

nav .menu-close {
  font-size: 2em;
  display: none;
  color: #467302;
  cursor: pointer;
}

nav .menu-ham.active {
  display: none;
}

nav .menu-close.active {
  display: block;
}

nav .nav-fluid.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

nav .nav-fluid {
  position: fixed;
  background-color: #467302;
  width: 100%;
  height: 90%;
  left: 0;
  top: 6rem;
  z-index: 3;
  font-weight: 700;
  letter-spacing: 0.2em;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 1s ease;
  transition: 1s ease;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 50px 40px 250px 40px;
}

nav .nav-fluid a {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #467302;
}

nav .nav-fluid a:hover {
  border-color: white;
}

@media (min-width: 641px) {
  nav {
    padding: 30px 40px;
  }
  nav .logo .img-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  nav .logo .brand-name {
    font-size: 1.5rem;
  }
  nav .menu-ham {
    display: none;
  }
  nav .nav-fluid {
    position: static;
    background-color: white;
    z-index: 1;
    color: #467302;
    height: auto;
    width: auto;
    -webkit-transform: none;
            transform: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav .nav-fluid a {
    margin: 0 5px;
    border-color: white;
  }
  nav .nav-fluid a:hover {
    background-color: #467302;
    color: white;
  }
  nav .nav-fluid a.active {
    border-color: #467302;
  }
}

@media (min-width: 1025px) {
  nav {
    padding: 30px 80px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .intro {
  color: white;
  background-color: #467302;
  text-align: center;
  padding: 60px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .intro h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 900;
}

.header .search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  width: 100%;
}

.header .search .search-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: url(../images/background.jpg) no-repeat;
  background-size: cover;
  opacity: 0.8;
  z-index: -1;
}

.header .search form {
  position: relative;
}

.header .search form .key-input {
  width: 270px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  outline: none;
  padding: 20px;
  border: none;
  font-size: 16px;
}

.header .search form .key-input::-webkit-input-placeholder {
  color: #949393;
}

.header .search form .key-input:-ms-input-placeholder {
  color: #949393;
}

.header .search form .key-input::-ms-input-placeholder {
  color: #949393;
}

.header .search form .key-input::placeholder {
  color: #949393;
}

.header .search form button {
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 15px;
  top: 12px;
  outline: none;
}

.header .search form button i {
  color: #949393;
  font-size: 1rem;
}

@media (min-width: 376px) {
  .header .intro {
    padding: 60px 100px;
  }
}

@media (min-width: 641px) {
  .header {
    display: -ms-grid;
    display: grid;
    gap: 0;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
        grid-template-areas: 'intro search';
    margin: 20px 40px;
    height: 400px;
  }
  .header .intro {
    height: 100%;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: intro;
    padding: 60px 25px;
  }
  .header .search {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: search;
    height: 100%;
  }
}

@media (min-width: 1025px) {
  .header {
    margin: 30px 80px;
    height: 350px;
  }
  .header .intro {
    padding: 60px 40px;
  }
  .header .search {
    height: 100%;
  }
}

.random-wrapper {
  color: white;
  background-color: #467302;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 100px;
  padding: 50px 30px;
  width: 300px;
  -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.random-wrapper h1 {
  font-size: 1.5rem;
  font-weight: 900;
}

.random-wrapper p {
  margin: 20px 0 35px 0;
}

.random-wrapper .random-btn {
  width: 120px;
  bottom: 40px;
  outline: none;
  height: 40px;
  border-radius: 20px;
  border-color: #D97904;
  background-color: #F2B705;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

main {
  padding: 50px 40px;
}

main .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  visibility: hidden;
  position: absolute;
}

main .buttons .btn-filter {
  padding: 5px 15px;
  border-style: outset;
  background-color: #F2B705;
  border-color: #D97904;
  color: white;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  margin: 5px;
}

main .buttons .btn-filter:active {
  border-style: inset;
}

main .buttons .btn-filter.active {
  color: #D97904;
  background-color: white;
}

main .buttons.active {
  position: relative;
  visibility: visible;
}

main .filter-result {
  display: -ms-grid;
  display: grid;
  gap: 40px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  visibility: visible;
}

main .filter-result .card {
  width: 200px;
  height: 300px;
  cursor: pointer;
  background-color: gray;
  border-radius: 15px;
  background-color: white;
  border: 1px solid #467302;
  -webkit-box-shadow: 4px 4px 0 0 #467302;
          box-shadow: 4px 4px 0 0 #467302;
  padding: 30px 15px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "meal-image" "meal-name";
  gap: 15px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .filter-result .card .image-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: meal-image;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  background: url(../images/dumplings.jpg) no-repeat;
  background-size: cover;
}

main .filter-result .card .menu-name {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: meal-name;
  text-align: center;
  color: #467302;
}

main .filter-result.inactive {
  visibility: hidden;
}

@media (min-width: 641px) {
  main {
    padding: 100px 40px;
  }
  main .buttons {
    margin-bottom: 50px;
  }
}

@media (min-width: 1025px) {
  main {
    padding: 100px 80px;
  }
  main .buttons {
    margin-bottom: 80px;
  }
}

.modal-wrapper {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 60px 25px 50px 20px;
  top: 0;
  left: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  position: absolute;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 1s ease;
  transition: 1s ease;
  min-height: 100vh;
  overflow-y: scroll;
}

.modal-wrapper .modal {
  background-color: white;
  color: #467302;
  border-radius: 10px;
  width: 300px;
  padding: 160px 0px 30px 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-wrapper .modal .modal-close {
  width: 120px;
  bottom: 40px;
  outline: none;
  height: 40px;
  border-radius: 20px;
  border-color: #D97904;
  background-color: #F2B705;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.modal-wrapper .modal .image-wrapper {
  width: 220px;
  left: 40px;
  height: 180px;
  border-radius: 10px;
  background: url(../images/bubur.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  top: -35px;
  border: 1px solid #aaa9a9;
}

.modal-wrapper .modal h3 {
  text-align: center;
}

.modal-wrapper .modal .separator {
  height: 2px;
  width: 100%;
  background-color: #aaa9a9;
}

.modal-wrapper .modal .line-top {
  margin-top: 30px;
}

.modal-wrapper .modal .modal-content {
  font-size: 15px;
  padding: 30px 30px 30px 30px;
  height: 250px;
  overflow-y: scroll;
}

.modal-wrapper .modal .modal-content h4 {
  margin-bottom: 15px;
  text-decoration: underline;
}

.modal-wrapper .modal .modal-content .ingredients {
  margin: 0 0 35px 0;
  width: 100%;
}

.modal-wrapper .modal .modal-content .ingredients ol {
  padding-left: 20px;
}

.modal-wrapper .modal .modal-content .steps {
  width: 100%;
}

.modal-wrapper.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
/*# sourceMappingURL=style.css.map */