@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

//color
$main-color: #D97904;
$light-orange: #F2B705;
$green: #467302;
$light-green: #A9BF04;

//typography
$font-size-body: 16px;
$font-size-heading: 24px;
$font-family: 'Merriweather', serif;

//breakpoints media query
$breakpoint-phone: 376px;
$breakpoint-tablet: 641px;
$breakpoint-laptop: 1025px;