@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

$main-color: #D97904;
$light-orange: #F2B705;
$green: #467302;
$light-green: #A9BF04;
$font-size-body: 16px;
$font-size-heading: 24px;
$font-family: 'Merriweather', serif;

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: $font-size-body;
}

body {
    font-size: $font-size-body;
    font-family: $font-family;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: auto;

    nav {
        padding: 30px 20px 20px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .img-logo {
                width: 40px;
                height: 40px;
                margin-right: 5px;
            }

            .brand-name {
                font-size: 1.1rem;
                font-weight: 900;
                color: $main-color;
            }
        }

        .menu-ham {
            font-size: 1.5em;
            cursor: pointer;
            color: $green;
        }

        .menu-close {
            font-size: 2em;
            display: none;
            color: $green;
            cursor: pointer;
        }

        .menu-ham.active {
            display: none;
        }

        .menu-close.active {
            display: block;
        }

        .nav-fluid.active {
            transform: translateX(0%);
        }

        .nav-fluid {
            position: fixed;
            background-color: $green;
            width: 100%;
            height: 90%;
            left: 0;
            top: 4.5rem;
            z-index: 3;
            font-weight: 700;
            letter-spacing: 0.2em;
            transform: translateX(100%);
            transition: 1s ease;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            padding: 50px 40px 250px 40px;

            a {
                cursor: pointer;
                padding: 10px 20px;
                border: 1px transparent;
            }

            a:hover {
                border: 1px solid white;
            }
        }
    }

    nav.active {
        // position: sticky;
    }

    .intro {
        color: white;
        background-color: $green;
        text-align: center;
        padding: 60px 25px;

        h1 {
            font-size: 1.5rem;
            margin-bottom: 20px;
            font-weight: 900;
        }
    }

    .search {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 250px;
        width: 100%;

        .search-background {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            background: url(../images/background.jpg) no-repeat;
            background-size: cover;
            opacity: 0.8;
            z-index: -1;
        }

        form {
            position: relative;

            .key-input {
                width: 270px;
                height: 40px;
                background-color: white;
                border-radius: 20px;
                outline: none;
                padding: 20px;
                border: none;
                font-size: 16px;
            }

            .key-input::placeholder {
                color: rgb(148, 147, 147);
            }

            button {
                width: auto;
                height: auto;
                background-color: transparent;
                border: none;
                position: absolute;
                right: 15px;
                top: 12px;
                outline: none;

                i {
                    color: rgb(148, 147, 147);
                    font-size: 1rem;
                }
            }
        }
    }

    .random-wrapper {
        color: white;
        background-color: $green;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 100px;
        padding: 50px 30px;
        width: 300px;
        box-shadow: 0 0 20px 10px rgba($color: #000000, $alpha: 0.1);

        h1 {
            font-size: 1.5rem;
            font-weight: 900;
        }

        p {
            margin: 20px 0 35px 0;
        }

        .random-btn {
            width: 120px;
            bottom: 40px;
            outline: none;
            height: 40px;
            border-radius: 20px;
            border-color: $main-color;
            background-color: $light-orange;
            color: white;
            cursor: pointer;
            font-size: 16px;
        }
    }

    main {
        padding: 50px 40px;

        .buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            visibility: hidden;
            position: absolute;

            .btn-filter {
                padding: 5px 15px;
                border-style: outset;
                background-color: $light-orange;
                border-color: $main-color;
                color: white;
                outline: none;
                cursor: pointer;
                border-radius: 20px;
                margin: 5px;
            }

            .btn-filter:active {
                border-style: inset;
            }

            .btn-filter.active {
                color: $main-color;
                background-color: white;
            }
        }

        .buttons.active {
            position: relative;
            visibility: visible;
        }

        .filter-result {
            display: grid;
            gap: 40px 0;
            justify-content: center;
            align-items: center;
            justify-items: center;
            margin-top: 40px;
            visibility: visible;

            .card {
                width: 200px;
                height: 300px;
                cursor: pointer;
                background-color: gray;
                border-radius: 15px;
                background-color: white;
                border: 1px solid $green;
                box-shadow: 4px 4px 0 0 $green;
                padding: 30px 15px;
                display: grid;
                grid-template-areas: "meal-image" "meal-name";
                gap: 15px 0;
                align-items: center;
    
                .image-wrapper {
                    grid-area: meal-image;
                    width: 100%;
                    height: 150px;
                    border-radius: 10px;
                    background: url(../images/dumplings.jpg) no-repeat;
                    background-size: cover;
                }
    
                .menu-name {
                    grid-area: meal-name;
                    text-align: center;
                    color: $green;
                }
            }
        }

        .filter-result.inactive {
            visibility: hidden;
        }
    }

    .modal-wrapper {
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.8);
        padding: 100px 25px 70px 20px;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        position: absolute !important;
        transform: translateX(-100%);
        transition: 1s ease;
        height: 1000px;
        overflow-y: auto;

        .modal {
            background-color: white;
            color: $green;
            border-radius: 10px;
            width: 300px;
            padding: 160px 0px 50px 0px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .modal-close {
                width: 120px;
                bottom: 40px;
                outline: none;
                height: 40px;
                border-radius: 20px;
                border-color: $main-color;
                background-color: $light-orange;
                color: white;
                cursor: pointer;
                font-size: 16px;
                margin-top: 30px;
            }

    
            .image-wrapper {
                width: 220px;
                left: 40px;
                height: 180px;
                border-radius: 10px;
                background: url(../images/bubur.jpg) no-repeat;
                background-size: cover;
                position: absolute;
                top: -35px;
                border: 1px solid rgb(170, 169, 169);
            }
    
            h3 {
                text-align: center;
            }

            .separator {
                height: 2px;
                width: 100%;
                background-color: rgb(170, 169, 169);
            }

            .line-top {
                margin-top: 30px;
            }

            .modal-content {
                font-size: 15px;
                padding: 30px 10px 30px 30px;
                height: 550px;
                overflow-y: scroll;

                h4 {
                    margin-bottom: 15px;
                    text-decoration: underline;
                }

                .ingredients {
                    margin: 0 0 35px 0;
                    width: 100%;
        
                    ol {
                        padding-left: 20px;
                    }
                }
    
                .steps {
                    width: 100%;
                }
            }
        }
    }

    .modal-wrapper.active {
        transform: translateX(0%);
    }
}